*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;

}

body{
    background-color: #000000;
    
}

img{
    width: 583px;
    height: 374px;
    display: block;
    margin: 156px auto;
}

h2{
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
}

div{
    display: block;
    margin: 0 auto;
    text-align: center;
}

input{
    width: 342px;
    height: 74px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2) ;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: 500;
    padding-left: 16px;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 50px;
    display: inline-block;

}

button{
    width: 342px;
    height: 72px;
    margin-top: 24px;
    border-radius: 10px;
    background-color: rgba(174, 195, 70, 1);
    box-shadow: 0 18px 40px 0 rgba(174, 195, 70, 0.3);
    border: none;
    font-size: 36px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5px;
    letter-spacing: 0px;
    text-align: center;
    display: block;
    margin: 76px auto;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;

}

button:active{
    opacity: 0.8;
}